* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    background-color: #C3C3C3;
    padding: 20px;
    min-height: 350px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#container .innerContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 35%;
    max-width: 300px;
}
#container .innerContainer .element{
    background-color: #606060;
    min-height: 50px;
    height: 100%;
    width: 100%;
}
@media screen and (max-width:700px){
    #container{
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
    }
    #container:first-of-type .innerContainer{
        flex-direction: row-reverse;
        width: 100%;
    }
    #container:first-of-type .innerContainer .element{
        max-width: 300px;
    }
    #container .innerContainer .element{
        min-height: none;
        height: 8.5rem;
    }
}